<h1>Welcome to Michael's Guitar Learning Page</h1>


<div class="topnav navpad">
    
  <a href="http://flip3.engr.oregonstate.edu:7708/students">Students</a>
  <a href="http://flip3.engr.oregonstate.edu:7708/guitars">Guitars</a>
  <a href="http://flip3.engr.oregonstate.edu:7708/songs">Songs</a>
  <a href=http://flip3.engr.oregonstate.edu:7708/chords>Chords</a>
</div> 


<p>{{results}}</p>